.root {
  margin: 0 auto;
  max-width: 450px;
  height: 300px;
  background-color: #0c0b0b;
}

.text {
  margin: 0 auto;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: rgba(237, 248, 252, .9);
}

.formInput {
  margin-bottom: 30px;
  max-width: 450px;
  height: 100%;
  max-height: 175px;
}
