.testList {
  list-style: none;
}
.testList li {
  padding-bottom: 1%;
  list-style: none;
}
.testList .question {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 19px;
  opacity: 0.6;
  margin-left: 0.3%;
}
.testList li .imgCheck {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 1%;
}
.testList li .imgCheck img {
  margin-left: 20%;
  margin-bottom: 10%;
}
.testList li .checked {
  background-color: #00CF21;
}
.testList li .unChecked {
  background-color: #CB0C00;
}
