.btn {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
  color: white;
  background-color: #0500ff;
  border: none;
}

.auth {
  width: 180px;
  height: 50px;
  background-color: #0500ff;
}
