h2 {
  margin-top: 10%;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  border-bottom: 1px #696969 solid;
}
.testsResult span {
  color: #EDF8FC;
}
.testsResult .tests {
  border: 1px solid #696969;
}
.testsResult .tests .toggleButton {
  display: block;
  margin-right: 1%;
  margin-top: 1%;
  float: right;
}
.testsResult .testName {
  opacity: 0.4;
  font-size: 20px;
}
.testsResult .tests .checker {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 0.5%;
}
.tests {
  margin-top: 3%;
  padding-bottom: 1%;
}

