.input_form {
  margin-bottom: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 45px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #edf8fc;
  background-color: #0c0b0b;
  border: 1px solid rgba(202, 229, 238, .3);
}
