.testStartButton {
  display: flex;
  margin-top: 1.5%;
}
.testStartButton button {
  font-size: 16px;
  width: 100px;
  height: 45px;
  border: none;
  color: white;
  background-color: #0500FF;
}
.testStartButton span {
  width: 100%;
  border: 1px #696969 solid;
  padding-top: 1%;
  padding-left: 2%;
  opacity: 0.9;
  font-size: 16px;
}
